<div class="breadcrumbs">
  <ul>
    <li
      [routerLink]="[{outlets: {stat: ['status']}}]"
      skipLocationChange
      routerLinkActive="active"
    >
      STATUS
    </li>
    <li
      [routerLink]="[{outlets: {stat: ['special']}}]"
      skipLocationChange
      routerLinkActive="active"
    >
      SPECIAL
    </li>
    <li
      [routerLink]="[{outlets: {stat: ['perks']}}]"
      skipLocationChange
      routerLinkActive="active"
    >
      PERKS
    </li>
  </ul>
</div>
<div class="renderer">
  <router-outlet name="stat"></router-outlet>
</div>
