<nav>
  <ul class="header-menu">
    <li routerLink="/stat" routerLinkActive="active">
      <p>stat</p>
      <div class="bottom"></div>
    </li>
    <li>
      <p>inv</p>
      <div class="bottom"></div>
    </li>
    <li>
      <p>data</p>
      <div class="bottom"></div>
    </li>
    <li routerLink="/map" routerLinkActive="active">
      <p>map</p>
      <div class="bottom"></div>
    </li>
    <li>
      <p>radio</p>
      <div class="bottom"></div>
    </li>
    <li>
      <div class="bottom"></div>
    </li>
  </ul>
</nav>
