<div
  class="screen boot"
  *ngIf="onBoot"
  style="width: 100vw; height: 100vh; padding: 0 !important;"
></div>
<div *ngIf="!onBoot" style="width: 100vw; height: 100vh;">
  <section class="screen">
    <div class="main-screen color-pulse">
      <app-header-menu></app-header-menu>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
<app-video
  [video_id]="videoID"
  style="position: absolute; left: -100%; bottom: -100%;"
></app-video>
<iframe frameborder="0" style="top: 75vh; position: absolute;">
  <audio controls autoplay>
    <source src="http://fallout.fm:8000/falloutfm1.ogg" type="audio/ogg" />
    Your browser does not support the audio element.
  </audio>
</iframe>
